@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground)
  --font-sora: var(--font-sora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora);
}

::selection {
  background: #bec5a4;
  color: #FFFFFF;
}

::-moz-selection {
  background: #bec5a4;
  color: #FFFFFF;
}

/*  la impresión en PDF de la historia clinica */
@media print {
  body {
    margin: 0;
    padding: 0;
  }
  
  .print-container {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    box-sizing: border-box;
  }
  
  .page-break {
    page-break-before: always;
    margin-top: 40px;
  }
  
  table, .flex {
    break-inside: avoid;
  }
}
